@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body ~*{
  opacity: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.scrollBar {
  position: absolute;
  left: 90%;
  width: 100vh;
  height: 2vw;
  direction: rtl;
  -webkit-appearance: none;
  background: #000010;
  outline: none;
  border-radius: 100vw;
  overflow: hidden;
  transform-origin: 0 0;
  transform: rotate(90deg);
  border: 2px solid #19b2e0;
}
.scrollBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1vw;
  height: 2vw;
  border-radius: 10px;
  background: #19b2e0;
  cursor: pointer;
  /*border: 4px solid rgb(14 165 233);*/
  box-shadow: -2000px 0 0 2000px rgba(25, 178, 224, 0.5);
}
.scrollBar::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1vw;
  height: 2vw;
  border-radius: 10px;
  background: #19b2e0;
  cursor: pointer;
  /*border: 4px solid rgb(14 165 233);*/
  box-shadow: -2000px 0 0 2000px rgba(25, 178, 224, 0.5);
}


.blackShadowOnhover{}
/*makes it significantly easier to read when several texts overlap*/
.blackShadowOnhover:hover{
  text-shadow: 0 0 1px black;
}